img {
	max-width: 25%;
	max-height: 20%;
}

.beers {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
}

.beerContainer {
	width: 40%;
	padding: 2em;
	margin: 1em auto;
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	border-radius: 10px;
}

.textInfo {
	display: flex;
	flex-direction: column;
	text-align: justify;
	width: 40%;
}

.textInfo p {
	margin: 5px;
}

.beerNameAndTagline {
  margin: 5px;
}

.textInfo h1 {
	margin-bottom: 0;
}
